/* reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* container */
.container {
  width: 410px;
  height: 180px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 5px;
  color: white;
  font-size: 10px;
}

/* big */
.big {
  background-color: darkslategray;
  text-align: center;
  padding-top: 10px;
  grid-row: span 2;
}

/* small */
.small {
  background-color: darkslategray;
  text-align: center;
  line-height: 40px;
}
